@use "@/styles/constants";

.run-page {
    --name-size: 2rem;

    .location-name {
        font-size: var(--name-size);
        font-weight: bold;
        letter-spacing: 2px;
    }
}

@media screen and (min-width: constants.$tablet) {
    .run-page {
        --name-size: 2.5rem;
    }
}
