@use "@/styles/constants";

.run-page {
    --bottom-spacing: 10rem;
    --header-font-size: 1.7rem;
    --section-inner-spacing: 1rem;
    --section-spacing: 2rem;
    --title-font-size: 2rem;
    --title-font-spacing: 2px;
    --top-spacing: 2rem;

    padding-top: var(--top-spacing);
    position: relative;
    width: 100%;

    .nav-button {
        position: absolute;
    }

    .run-info {
        max-width: constants.$max-width;
        min-height: calc(100vh - constants.$mobile-navbar-height);
        width: 100%;

        .location-name {
            font-size: var(--title-font-size);
            font-weight: bold;
            letter-spacing: var(--title-font-spacing);
            text-align: center;
        }

        .section {
            align-items: center;
            display: flex;
            flex-direction: column;
            gap: var(--section-inner-spacing);
            margin: var(--section-spacing) 0;

            &:last-child {
                margin-bottom: var(--bottom-spacing);
            }

            .header {
                font-size: var(--header-font-size);
            }
        }
    }
}

@media screen and (min-width: constants.$tablet) {
    .run-page {
        --title-font-size: 2.5rem;

        .run-info {
            min-height: calc(100vh - constants.$navbar-height);
        }
    }
}

@media screen and (min-width: constants.$max-width) {
    .run-page > .sticky-info {
        // Account for max size
        margin-left: calc((100vw - constants.$max-width) / -2 - constants.$page-padding);
    }
}
