@use "@/styles/constants";

.dropdown {
    --arrow-spacing: 1rem;
    --border-radius: 5px;
    --border-size: 2px;
    --chevron-size: 12px;
    --font-size: 1.2rem;
    --menu-height: 300px;
    --menu-offset: -2px;
    --menu-spacing: 3.5rem;
    --overlay-z: 100;
    --scrollbar-border: 2px;
    --scrollbar-radius: 20px;
    --scrollbar-width: 4px;
    --transition-time: 0.2s;
    --x-padding: 3rem;
    --y-padding: 0.5rem;

    display: flex;
    justify-content: center;
    position: relative;

    .overlay {
        background: transparent;
        bottom: 0;
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
        z-index: var(--overlay-z);
    }

    .controller {
        align-items: center;
        border: var(--border-size) solid constants.$text-color;
        border-radius: var(--border-radius);
        cursor: pointer;
        display: flex;
        padding: var(--y-padding) var(--x-padding);

        .display {
            font-size: var(--font-size);
        }

        .arrow {
            filter: constants.$svg-color;
            height: var(--chevron-size);
            position: absolute;
            transition: transform var(--transition-time);
            right: var(--arrow-spacing);
            width: var(--chevron-size);
        }

        .flipped {
            transform: rotate(180deg);
        }
    }

    .menu {
        background-color: constants.$bg-color;
        border: var(--border-size) solid constants.$text-color;
        border-radius: var(--border-radius);
        max-height: var(--menu-height);
        overflow-y: auto;
        position: absolute;
        top: var(--menu-spacing);
        transition: opacity var(--transition-time), transform var(--transition-time);
        width: 100%;
        z-index: calc(var(--overlay-z) + 1);

        .option {
            cursor: pointer;
            font-size: var(--font-size);
            padding: var(--y-padding) 0;
            text-align: center;
            width: 100%;
        }
    }

    .hidden {
        opacity: 0;
        pointer-events: none;
        transform: translateY(var(--menu-offset));
    }

    ::-webkit-scrollbar {
        background: constants.$bg-color;
        width: calc(var(--scrollbar-width) + 2 * var(--scrollbar-border));
    }

    ::-webkit-scrollbar-thumb {
        background: constants.$text-color;
        border: var(--scrollbar-border) solid constants.$bg-color;
        border-radius: var(--scrollbar-radius);
    }
}

@media (hover: hover) {
    .dropdown {
        .controller:hover {
            border-color: constants.$hover-color;

            .display {
                color: constants.$hover-color;
            }

            .arrow {
                filter: constants.$svg-hover-color;
            }
        }

        .menu .option:hover {
            background: constants.$hover-color;
        }
    }
}
