@use "@/styles/constants";

.pokemon-card {
    --card-border-rad: 10px;
    --header-border-size: 3px;
    --header-x-padding: 1rem;
    --info-font-size: 1rem;
    --info-inner-spacing: 0.5rem;
    --level-font-size: 1.25rem;
    --moves-inner-spacing: 1rem;

    background-color: constants.$accent-color;
    border-radius: var(--card-border-rad);

    .header {
        align-items: center;
        border-bottom: var(--header-border-size) solid constants.$text-color;
        display: flex;
        padding: 0 var(--header-x-padding);
        justify-content: space-between;

        .info {
            align-items: flex-end;
            display: flex;
            flex-direction: column;
            gap: var(--info-inner-spacing);

            .level {
                font-size: var(--level-font-size);
                font-weight: bold;
                line-height: var(--level-font-size);
            }

            .info-text {
                font-size: var(--info-font-size);
                line-height: var(--info-font-size);
            }
        }
    }

    .moves {
        display: grid;
        gap: var(--moves-inner-spacing);
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        padding: var(--moves-inner-spacing);
    }
}

@media screen and (min-width: constants.$tablet) {
    .pokemon-card {
        --header-x-padding: 4rem;
        --info-font-size: 1.25rem;
        --level-font-size: 1.5rem;
    }
}
