@use "@/styles/constants";

.segment-page {
    --bottom-spacing: 10rem;
    --header-font-size: 1.4rem;
    --info-inner-spacing: 4rem;
    --page-width: 350px;
    --section-inner-spacing: 2rem;
    --title-font-size: 2rem;
    --title-font-spacing: 2px;
    --top-spacing: 2rem;

    padding-top: var(--top-spacing);
    position: relative;
    width: var(--page-width);

    .info {
        display: flex;
        flex-direction: column;
        gap: var(--info-inner-spacing);
        max-width: constants.$max-width;
        min-height: calc(100vh - constants.$mobile-navbar-height);
        width: 100%;

        .location-name {
            font-size: var(--title-font-size);
            font-weight: bold;
            letter-spacing: var(--title-font-spacing);
            text-align: center;
        }

        .section {
            align-items: center;
            display: flex;
            flex-direction: column;
            gap: var(--section-inner-spacing);
            margin: var(--section-spacing) 0;
        }
    }
}

@media screen and (min-width: constants.$tablet) {
    .segment-page {
        --page-width: 750px;
        --title-font-size: 2.5rem;
    }
}
