@use "@/styles/constants";

.encounter-list {
    --encounters-inner-spacing: 1rem;
    --header-spacing: 1.5rem;
    --left-inner-spacing: 1rem;
    --title-font-size: 1.25rem;

    width: 100%;

    .header {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin-bottom: var(--header-spacing);

        .left {
            align-items: center;
            display: flex;
            gap: var(--left-inner-spacing);

            .title {
                font-size: var(--title-font-size);
                line-height: var(--title-font-size);
            }
        }
    }

    .encounters {
        display: flex;
        flex-direction: column;
        gap: var(--encounters-inner-spacing);
    }
}

.offset {
    --section-offset: -2rem;

    margin-bottom: var(--section-offset);
}

@media screen and (min-width: constants.$tablet) {
    .encounter-list {
        --title-font-size: 1.5rem;
    }
}
