@use "@/styles/constants";

.rips-page {
    --header-font-size: 2rem;
    --header-letter-spacing: 2px;
    --header-spacing: 2rem;
    --page-y-padding: 2rem;

    min-height: calc(100vh - constants.$navbar-height - 2 * var(--page-y-padding));

    .header {
        font-size: var(--header-font-size);
        font-weight: bold;
        letter-spacing: var(--header-letter-spacing);
        line-height: var(--header-font-size);
        margin-bottom: var(--header-spacing);
        text-align: center;
    }
}

@media screen and (min-width: constants.$tablet) {
    .rips-page {
        --header-font-size: 2.5rem;
        --page-y-padding: 4rem;
    }
}
