@use "@/styles/constants";

.location-page {
    --info-inner-spacing: 2rem;

    min-height: inherit;

    .info {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: var(--info-inner-spacing);
        max-width: constants.$max-width;
        min-height: inherit;
        width: 100%;
    }
}

.loading {
    --loading-spacing: 2rem;

    margin-top: var(--loading-spacing);
}
