@use "@/styles/constants";

.segment-nav {
    --nav-font-size: 1rem;
    --nav-spacing: 1.5rem;

    display: flex;
    justify-content: space-between;
    margin-bottom: var(--nav-spacing);
    position: relative;
    width: 100%;

    .nav {
        font-size: var(--nav-font-size);
    }

    .back {
        left: 0;
    }

    .next {
        right: 0;
    }
}

@media screen and (min-width: constants.$tablet) {
    .segment-nav {
        --nav-offset: 1.1rem;

        margin-top: var(--nav-offset);
        position: absolute;
    }
}

@media (hover: hover) {
    .nav-button:hover {
        color: constants.$hover-color;
    }
}
