@use "@/styles/constants";

.segment-page {
    --page-width: 350px;
    --page-y-padding: 2rem;

    min-height: calc(100vh - constants.$navbar-height - 2 * var(--page-y-padding));
    position: relative;
    width: var(--page-width);
}

@media screen and (min-width: constants.$tablet) {
    .segment-page {
        --page-width: 750px;
        --page-y-padding: 4rem;
    }
}
