@use "@/styles/constants";

.career-page {
    --header-font-size: 2rem;
    --header-spacing: 2rem;
    --history-inner-spacing: 1rem;
    --history-num-cols: 1;
    --page-y-padding: 2rem;

    align-items: center;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - constants.$navbar-height - 2 * var(--page-y-padding));

    .header {
        font-size: var(--header-font-size);
        font-weight: bold;
        margin-bottom: var(--header-spacing);
        text-align: center;
    }

    .history {
        display: grid;
        gap: var(--history-inner-spacing);
        grid-template-columns: repeat(var(--history-num-cols), 1fr);
    }
}

@media screen and (min-width: constants.$tablet) {
    .career-page {
        --header-font-size: 2.5rem;
        --history-num-cols: 2;
        --page-y-padding: 4rem;
    }
}

@media screen and (min-width: constants.$desktop) {
    .career-page {
        --history-num-cols: 3;
    }
}
