@use "@/styles/constants";

.run-list {
    --alt-font-size: 1.5rem;
    --button-border-size: 2px;
    --button-border-rad: 5px;
    --button-font-size: 1rem;
    --button-icon-size: 12px;
    --button-inner-spacing: 0.5rem;
    --button-letter-spacing: 1px;
    --button-padding: 1rem;
    --buttons-inner-spacing: 1rem;
    --header-font-size: 2rem;
    --list-inner-spacing: 2rem;
    --list-max-width: 800px;

    align-items: center;
    display: flex;
    flex-direction: column;
    gap: var(--list-inner-spacing);
    width: 100%;

    .header {
        font-size: var(--header-font-size);
        font-weight: bold;
        margin-bottom: var(--header-spacing);
        text-align: center;
    }

    .list {
        max-width: var(--list-max-width);
        width: 100%;
    }

    .alt-text {
        font-size: var(--alt-font-size);
        text-align: center;
    }

    .buttons {
        display: flex;
        gap: var(--buttons-inner-spacing);

        .button {
            border: var(--button-border-size) solid constants.$text-color;
            border-radius: var(--button-border-rad);
            font-size: var(--button-font-size);
            gap: var(--button-inner-spacing);
            letter-spacing: var(--button-letter-spacing);
            line-height: var(--button-font-size);
            padding: var(--button-padding);
        }

        .load {
            align-items: center;
            cursor: pointer;
            display: flex;

            .icon {
                filter: constants.$svg-color;
                height: var(--button-icon-size);
                position: relative;
                width: var(--button-icon-size);
            }
        }

        .new {
            background: constants.$text-color;
            color: constants.$bg-color;
        }

        .file-upload {
            display: none;
        }
    }
}

@media screen and (min-width: constants.$tablet) {
    .run-list {
        --button-font-size: 1.25rem;
        --button-icon-size: 16px;
        --button-padding: 1.25rem;
        --header-font-size: 2.5rem;
    }
}

@media (hover: hover) {
    .run-list > .buttons {
        .button:hover {
            border-color: constants.$hover-color;
        }

        .load:hover {
            color: constants.$hover-color;

            .icon {
                filter: constants.$svg-hover-color;
            }
        }

        .new:hover {
            background-color: constants.$hover-color;
            color: constants.$text-color;
        }
    }
}
