@use "@/styles/constants";

.pokemon-display {
    --info-inner-spacing: 0.2rem;
    --inner-spacing: 1rem;
    --name-font-size: 1rem;
    --name-z: 2;
    --sprite-left-offset: -1.5rem;
    --sprite-size: 100px;
    --top-inner-spacing: 0.5rem;
    --type-height: 12px;
    --type-ratio: 8/3;
    --types-inner-spacing: 4px;

    align-items: center;
    display: flex;
    gap: var(--inner-spacing);

    .sprite {
        height: var(--sprite-size);
        margin-left: var(--sprite-left-offset);
        position: relative;
        width: var(--sprite-size);
    }

    .info {
        .top {
            align-items: center;
            display: flex;
            gap: var(--top-inner-spacing);
            margin-bottom: var(--info-inner-spacing);

            .name {
                font-size: var(--name-font-size);
                z-index: var(--name-z);
            }
        }

        .types {
            display: flex;
            gap: var(--types-inner-spacing);

            .type {
                height: var(--type-height);
                position: relative;
                width: calc(var(--type-height) * var(--type-ratio));
            }
        }
    }
}

@media screen and (min-width: constants.$tablet) {
    .pokemon-display {
        --name-font-size: 1.25rem;
        --sprite-size: 120px;
    }
}

@media (hover: hover) {
    .pokemon-display > .info > .top > .name:hover {
        color: constants.$hover-color;
    }
}
