@use "@/styles/constants";

.pokemon-display {
    --info-inner-spacing: 0.5rem;
    --inner-spacing: 1rem;
    --level-font-size: 0.75rem;
    --name-font-size: 1rem;
    --sprite-left-offset: -1.5rem;
    --sprite-size: 100px;
    --text-font-size: 0.75rem;
    --top-inner-spacing: 0.5rem;
    --type-height: 12px;
    --type-ratio: 8/3;
    --types-inner-spacing: 4px;

    align-items: center;
    display: flex;
    gap: var(--inner-spacing);

    .sprite {
        height: var(--sprite-size);
        margin-left: var(--sprite-left-offset);
        position: relative;
        width: var(--sprite-size);
    }

    .info {
        display: flex;
        flex-direction: column;
        gap: var(--info-inner-spacing);

        .top {
            align-items: center;
            display: flex;
            gap: var(--top-inner-spacing);

            .name {
                font-size: var(--name-font-size);
                line-height: var(--name-font-size);
            }

            .level {
                font-size: var(--level-font-size);
                line-height: var(--level-font-size);
            }
        }

        .text {
            font-size: var(--text-font-size);
            line-height: var(--text-font-size);
        }

        .types {
            display: flex;
            gap: var(--types-inner-spacing);

            .type {
                height: var(--type-height);
                position: relative;
                width: calc(var(--type-height) * var(--type-ratio));
            }
        }
    }
}

@media screen and (min-width: constants.$tablet) {
    .pokemon-display {
        --level-font-size: 1rem;
        --name-font-size: 1.25rem;
        --sprite-size: 120px;
        --text-font-size: 1rem;
    }
}

@media (hover: hover) {
    .pokemon-display > .info > .top > .name:hover {
        color: constants.$hover-color;
    }
}
