@use "@/styles/constants";

.summary-moves {
    --border-rad: 5px;
    --card-border-size: 2px;
    --card-height: calc(16px + 5rem - 3px);
    --font-size: 1rem;
    --header-y-padding: 0.5rem;
    --icon-size: 3rem;
    --moves-inner-spacing: 1rem;
    --moves-padding: 1rem;
    --num-cols: 1;
    --plus-size: 3rem;

    .header {
        background-color: constants.$hover-color;
        border-radius: var(--border-rad) var(--border-rad) 0 0;
        font-size: var(--font-size);
        font-weight: bold;
        line-height: var(--font-size);
        padding: var(--header-y-padding);
        text-align: center;
    }

    .moves {
        background-color: constants.$accent-color;
        border-radius: 0 0 var(--border-rad) var(--border-rad);
        display: grid;
        gap: var(--moves-inner-spacing);
        grid-template-columns: repeat(var(--num-cols), 1fr);
        padding: var(--moves-padding);

        .button {
            padding: 0;

            .add {
                align-items: center;
                border: var(--card-border-size) solid constants.$disabled-color;
                border-radius: var(--border-rad);
                display: flex;
                height: var(--card-height);
                justify-content: center;

                .icon {
                    color: constants.$disabled-color;
                    font-size: var(--icon-size);
                    line-height: var(--icon-size);
                }
            }
        }
    }
}

@media screen and (min-width: constants.$tablet) {
    .summary-moves {
        --num-cols: 2;
    }
}

@media (hover: hover) {
    .summary-moves > .moves > .button:hover > .add {
        border-color: constants.$text-color;

        .icon {
            color: constants.$text-color;
        }
    }
}
