@use "@/styles/constants";

.branding {
    --font-size: 2.5rem;
    --font-spacing: 1px;
    --logo-size: 80px;

    align-items: center;
    display: flex;
    gap: var(--inner-spacing);

    .logo {
        height: var(--logo-size);
        position: relative;
        width: var(--logo-size);
    }

    .site-name {
        font-size: var(--font-size);
        font-weight: bold;
        letter-spacing: var(--font-spacing);
    }
}

.links {
    --font-size: 1.2rem;
    --font-spacing: 1px;

    display: flex;
    gap: var(--link-spacing);

    .link {
        font-size: var(--font-size);
        font-weight: bold;
        letter-spacing: var(--font-spacing);
    }
}

@media screen and (min-width: constants.$tablet) {
    .links {
        --font-size: 1.5rem;
    }
}

@media (hover: hover) {
    .links .link:hover {
        color: constants.$hover-color;
    }
}
