@use "@/styles/constants";

.box-menu {
    --border-rad: 2px;
    --border-size: 2px;
    --hidden-offset: -10px;
    --option-font-size: 1rem;
    --option-x-padding: 1.25rem;
    --option-y-padding: 0.75rem;
    --overlay-z: 99;
    --transition-time: 0.1s;

    transition: opacity var(--transition-time);

    .menu {
        background-color: constants.$bg-color;
        border: var(--border-size) solid constants.$text-color;
        border-radius: var(--border-rad);
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 100%;
        top: 50%;
        z-index: calc(var(--overlay-z) + 1);

        .option {
            font-size: var(--option-font-size);
            line-height: var(--option-font-size);
            padding: var(--option-y-padding) var(--option-x-padding);
            text-align: left;
        }
    }

    .inverted {
        left: auto;
        right: 100%;
    }

    .overlay {
        bottom: 0;
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
        z-index: var(--overlay-z);
    }
}

.hide {
    opacity: 0;
    pointer-events: none;
}

@media (hover: hover) {
    .box-menu > .menu > .option:hover {
        background-color: constants.$hover-color;
    }
}
