@use "@/styles/constants";

.starter-select {
    --name-size: 1.7rem;
    --sprite-size: 120px;
    --inner-spacing: 1rem;

    align-items: center;
    display: flex;
    flex-direction: column;
    gap: var(--inner-spacing);
    justify-content: center;

    .header {
        font-size: 1.7rem;
    }

    .starter-list {
        align-items: center;
        display: flex;
        gap: 1rem;
        justify-content: center;

        .starter {
            .select-button {
                align-items: center;
                border: 2px solid constants.$text-color;
                border-radius: 10px;
                display: flex;
                justify-content: center;
                width: 100%;

                .sprite {
                    height: var(--sprite-size);
                    margin: -1rem;
                    position: relative;
                    width: var(--sprite-size);
                }
            }
        }

        .selected > .select-button {
            background-color: constants.$accent-color;
            border-color: constants.$hover-color;
        }
    }
}

@media screen and (min-width: constants.$tablet) {
    .starter-select {
        --component-spacing: 4rem;
        --sprite-size: 160px;
        --inner-spacing: 2rem;
    }
}

@media (hover: hover) {
    .starter-select > .starter-list > .starter:hover > .select-button > .sprite {
        animation: shake 1s;
        animation-iteration-count: infinite;
    }
}

// https://unused-css.com/blog/css-shake-animation/
@keyframes shake {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }
    25% {
        transform: translate(5px, 5px) rotate(5deg);
    }
    50% {
        transform: translate(0, 0) rotate(0eg);
    }
    75% {
        transform: translate(-5px, 5px) rotate(-5deg);
    }
    100% {
        transform: translate(0, 0) rotate(0deg);
    }
}
