@use "@/styles/constants";

.starter-select {
    --button-border-rad: 5px;
    --button-border-size: 2px;
    --button-size: 100px;
    --header-font-size: 1.4rem;
    --header-spacing: 1rem;
    --name-size: 1.7rem;
    --sprite-size: 120px;
    --inner-spacing: 1rem;

    width: 100%;

    .header {
        font-size: var(--header-font-size);
        line-height: var(--header-font-size);
        margin-bottom: var(--header-spacing);
        text-align: center;
        width: 100%;
    }

    .starters {
        align-items: center;
        display: flex;
        gap: var(--inner-spacing);
        justify-content: center;

        .starter {
            .button {
                align-items: center;
                border: var(--button-border-size) solid constants.$text-color;
                border-radius: var(--button-border-rad);
                display: flex;
                height: var(--button-size);
                justify-content: center;
                overflow: hidden;
                width: var(--button-size);

                .sprite {
                    height: var(--sprite-size);
                    position: relative;
                    width: var(--sprite-size);
                }
            }
        }

        .selected > .button {
            background-color: constants.$accent-color;
            border-color: constants.$hover-color;
        }
    }
}

@media screen and (min-width: constants.$tablet) {
    .starter-select {
        --button-size: 120px;
        --sprite-size: 150px;

        .header {
            text-align: left;
        }

        .starters {
            justify-content: flex-start;
        }
    }
}

@media (hover: hover) {
    .starter-select {
        --animation-time: 1s;

        .starters > .starter:hover > .button > .sprite {
            animation: shake var(--animation-time);
            animation-iteration-count: infinite;
        }
    }
}

// https://unused-css.com/blog/css-shake-animation/
@keyframes shake {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }
    25% {
        transform: translate(5px, 5px) rotate(5deg);
    }
    50% {
        transform: translate(0, 0) rotate(0eg);
    }
    75% {
        transform: translate(-5px, 5px) rotate(-5deg);
    }
    100% {
        transform: translate(0, 0) rotate(0deg);
    }
}
