@use "@/styles/constants";

.stats {
    --border-rad: 5px;
    --font-size: 1rem;
    --header-y-padding: 0.5rem;
    --input-x-padding: 0.5rem;
    --input-y-padding: 0.25rem;
    --input-width: 3rem;
    --stats-padding: 1rem;
    --table-letter-spacing: 1px;

    .header {
        background-color: constants.$hover-color;
        border-radius: var(--border-rad) var(--border-rad) 0 0;
        font-size: var(--font-size);
        font-weight: bold;
        line-height: var(--font-size);
        padding: var(--header-y-padding);
        text-align: center;
    }

    .container {
        background-color: constants.$accent-color;
        border-radius: 0 0 var(--border-rad) var(--border-rad);
        padding: var(--stats-padding);

        .table {
            letter-spacing: var(--table-letter-spacing);
            margin: 0 auto;

            .row {
                .cell {
                    text-align: center;
                    vertical-align: middle;

                    .input {
                        background-color: constants.$bg-color;
                        letter-spacing: var(--table-letter-spacing);
                        padding: var(--input-y-padding) var(--input-x-padding);
                        text-align: center;
                        width: var(--input-width);
                    }

                    input::-webkit-outer-spin-button,
                    input::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }

                    /* Firefox */
                    input[type="number"] {
                        -moz-appearance: textfield;
                    }

                    .positive {
                        color: constants.$hover-color;
                    }

                    .negative {
                        color: constants.$error-color;
                    }
                }
            }
        }
    }
}
