@use "@/styles/constants";

.move-modal {
    --buttons-inner-spacing: 1rem;
    --header-font-size: 1.25rem;
    --input-font-size: 1rem;
    --input-x-padding: 1.25rem;
    --input-y-padding: 0.5rem;
    --match-x-padding: 1.25rem;
    --match-y-padding: 1rem;
    --matches-border-size: 2px;
    --matches-max-height: 300px;
    --modal-inner-spacing: 2rem;

    align-items: center;
    display: flex;
    flex-direction: column;
    gap: var(--modal-inner-spacing);

    .header {
        font-size: var(--header-font-size);
        line-height: var(--header-font-size);
        text-align: center;
    }

    .search {
        position: relative;

        .input {
            background-color: constants.$bg-color;
            font-size: var(--input-font-size);
            padding: var(--input-y-padding) var(--input-x-padding);
        }

        .matches {
            background-color: constants.$bg-color;
            bottom: 0;
            max-height: var(--matches-max-height);
            overflow-y: auto;
            position: absolute;
            transform: translateY(100%);

            .match {
                cursor: pointer;
                font-size: var(--input-font-size);
                line-height: var(--input-font-size);
                padding: var(--match-y-padding) var(--match-x-padding);
                text-align: left;
                width: 100%;

                .highlight {
                    color: constants.$hover-color;
                }
            }
        }
    }

    .hide {
        display: none;
    }

    .buttons {
        display: flex;
        gap: var(--buttons-inner-spacing);
    }
}

@media screen and (min-width: constants.$tablet) {
    .move-modal {
        --header-font-size: 1.5rem;
        --input-font-size: 1.25rem;
    }
}

@media screen and (hover: hover) {
    .move-modal > .search > .matches .match:hover {
        background-color: constants.$hover-color;

        .highlight {
            color: constants.$text-color;
        }
    }
}
