@use "@/styles/constants";

.item-display {
    --sprite-size: 28px;

    display: flex;
    position: relative;

    .sprite {
        height: var(--sprite-size);
        position: relative;
        width: var(--sprite-size);
    }
}
