@use "@/styles/constants";

.nav-menu {
    --button-transition-time: 0.2s;
    --button-width: 40px;
    --icon-line-height: 2px;
    --icon-inner-spacing: 6px;
    --overlay-z: 999;

    .button {
        display: flex;
        flex-direction: column;
        gap: var(--icon-inner-spacing);
        position: relative;
        transition: gap var(--button-transition-time);
        width: var(--button-width);
        z-index: calc(var(--overlay-z) + 1);

        .icon {
            background-color: constants.$text-color;
            height: var(--icon-line-height);
            margin: 0;
            width: 100%;
        }
    }
}

.open {
    --icon-inner-spacing: 10px;

    .overlay {
        bottom: 0;
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
        z-index: var(--overlay-z);
    }
}

@media (hover: hover) {
    .nav-menu > .button:hover {
        .icon {
            background-color: constants.$hover-color;
        }
    }
}
