// Fonts
$main-font: "Poppins", sans-serif;
$tier-font: "Bungee", sans-serif;

// Color scheme
$bg-color: #2e2e2e;
$accent-color: #262626;
$hover-color: #369a2d;
$svg-color: invert(100%) sepia(0%) saturate(7500%) hue-rotate(208deg) brightness(107%) contrast(100%);
$svg-bg-color: invert(20%) sepia(10%) saturate(0%) hue-rotate(170deg) brightness(94%) contrast(103%);
$svg-accent-color: invert(7%) sepia(95%) saturate(0%) hue-rotate(258deg) brightness(87%) contrast(81%);
$svg-hover-color: invert(41%) sepia(10%) saturate(3132%) hue-rotate(68deg) brightness(116%) contrast(88%);
$text-color: #ffffff;
$error-color: red;

// Dimensions
$mobile-navbar-height: 150px;
$navbar-height: 100px;
$max-width: 1600px;
$page-padding: 2rem;

// Screen breakpoints
$desktop: 1440px;
$tablet: 768px;
