@use "@/styles/constants";

// Google Fonts
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Bungee&family=Russo+One&display=swap");

#app {
    color: white;
    overflow-x: hidden;
}

::-webkit-scrollbar {
}

::-webkit-scrollbar-track {
}

::-webkit-scrollbar-thumb {
    &:hover {
    }
}

html,
body {
    background: constants.$accent-color;
    color: constants.$text-color;
    font-family: constants.$main-font;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

p {
    margin: 0;
}

hr {
    border: none;
}

button {
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    font-family: inherit;
}

input,
textarea {
    border: none;
    color: inherit;
    font-family: inherit;

    &:focus {
        outline: none;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: normal;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
