@use "@/styles/constants";

// Google Fonts
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400&family=Chivo+Mono:wght@700&display=swap");

#app {
    color: constants.$text-color;
    overflow-x: hidden;
}

html,
body {
    --scrollbar-border: 4px;
    --scrollbar-radius: 20px;
    --scrollbar-width: 8px;

    background: constants.$accent-color;
    color: constants.$text-color;
    font-family: constants.$main-font;
    overflow-x: clip;
    padding: 0;
    margin: 0;

    ::-webkit-scrollbar {
        background: constants.$bg-color;
        width: calc(var(--scrollbar-width) + 2 * var(--scrollbar-border));
    }

    ::-webkit-scrollbar-thumb {
        background: constants.$text-color;
        border: var(--scrollbar-border) solid constants.$bg-color;
        border-radius: var(--scrollbar-radius);
    }
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

p {
    margin: 0;
}

hr {
    border: none;
}

button {
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    font-family: inherit;

    &:disabled {
        cursor: default;
        pointer-events: none;
    }
}

input,
textarea {
    border: none;
    color: inherit;
    font-family: inherit;

    &:focus {
        outline: none;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: normal;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.primary-button {
    background-color: constants.$text-color;
    border-radius: 5px;
    color: constants.$accent-color;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 1rem;
    padding: calc(0.75rem + 2px) calc(1rem + 2px);

    &:disabled {
        background-color: constants.$disabled-color;
    }
}

.secondary-button {
    border: 2px solid constants.$text-color;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 1rem;
    padding: 0.75rem 1rem;

    &:disabled {
        border-color: constants.$disabled-color;
        color: constants.$disabled-color;
    }
}

.accent-spinner {
    --line-size: 6px;
    --spin-time: 1.25s;
    --spinner-size: 50px;

    animation: spin var(--spin-time) ease-out infinite;
    border: var(--line-size) solid constants.$accent-color;
    border-radius: 50%;
    border-top: var(--line-size) solid constants.$text-color;
    height: var(--spinner-size);
    width: var(--spinner-size);
}

.bg-spinner {
    --line-size: 6px;
    --spin-time: 1.25s;
    --spinner-size: 50px;

    animation: spin var(--spin-time) ease-out infinite;
    border: var(--line-size) solid constants.$bg-color;
    border-radius: 50%;
    border-top: var(--line-size) solid constants.$text-color;
    height: var(--spinner-size);
    width: var(--spinner-size);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media (hover: hover) {
    .primary-button:hover {
        background-color: constants.$hover-color;
        color: constants.$text-color;
    }

    .secondary-button:hover {
        border-color: constants.$hover-color;
        color: constants.$hover-color;
    }
}
