@use "@/styles/constants";

.starter-select {
    --button-padding: 0.5rem;
    --display-height: 100px;
    --header-inner-spacing: 1rem;
    --icon-size: 20px;
    --inner-spacing: 1rem;
    --starter-inner-spacing: 1rem;
    --title-font-size: 1.5rem;
    --type-select-inner-spacing: 1rem;

    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;

    .header {
        align-items: center;
        display: flex;
        gap: var(--header-inner-spacing);

        .title {
            font-size: var(--title-font-size);
            line-height: var(--title-font-size);
        }

        .type-select {
            display: flex;
            gap: var(--type-select-inner-spacing);

            .button {
                background-color: constants.$disabled-color;
                border-radius: 50%;
                overflow: hidden;
                padding: var(--button-padding);

                .icon {
                    filter: constants.$svg-color;
                    height: var(--icon-size);
                    position: relative;
                    user-select: none; /* Standard syntax */
                    -webkit-user-select: none; /* Safari */
                    width: var(--icon-size);
                }
            }
        }
    }

    .starter {
        align-items: center;
        display: flex;
        gap: var(--starter-inner-spacing);
    }

    .loading {
        align-items: center;
        display: flex;
        height: calc(var(--display-height) + var(--icon-size) + 2 * var(--button-padding));
    }
}

@media screen and (min-width: constants.$tablet) {
    .starter-select {
        --display-height: 120px;
    }
}

@media (hover: hover) {
    .starter-select > .header > .type-select .button:hover {
        background-color: constants.$text-color;

        .icon {
            filter: constants.$svg-disabled-color;
        }
    }
}
