@use "@/styles/constants";

.add-move {
    --border-rad: 5px;
    --border-size: 2px;
    --card-height: calc(16px + 4rem);
    --plus-size: 3rem;

    align-items: center;
    border: var(--border-size) solid constants.$bg-color;
    border-radius: var(--border-rad);
    display: flex;
    height: var(--card-height);
    justify-content: center;

    .add {
        color: constants.$bg-color;
        font-size: var(--plus-size);
        line-height: var(--plus-size);
    }
}

@media (hover: hover) {
    .add-move:hover {
        border-color: constants.$text-color;

        .add {
            color: constants.$text-color;
        }
    }
}
