@use "@/styles/constants";

.pokemon-card {
    --body-estimate: 30rem;
    --card-border-rad: 10px;
    --display-size: calc(100px + 1rem);
    --header-border-size: 3px;
    --header-x-padding: 2.5rem;
    --header-y-padding: 0.5rem;
    --info-font-size: 0.75rem;
    --info-inner-spacing: 0.5rem;
    --info-offset: 2rem;
    --level-font-size: 1rem;
    --moves-cols: 1;
    --moves-inner-spacing: 1rem;
    --moves-rows: 4;
    --toggle-font-size: 2rem;
    --toggle-offset: 0.5rem;
    --toggle-z: 2;
    --transition-time: 0.3s;

    position: relative;

    .card {
        background-color: constants.$accent-color;
        border-radius: var(--card-border-rad);
        max-height: calc(var(--display-size) + var(--header-border-size) + var(--body-estimate));
        overflow-y: hidden;
        position: relative;
        transition: max-height var(--transition-time);

        .toggle {
            font-size: var(--toggle-font-size);
            left: var(--toggle-offset);
            line-height: var(--toggle-font-size);
            position: absolute;
            top: var(--toggle-offset);
            z-index: var(--toggle-z);
        }

        .header {
            align-items: flex-start;
            border-bottom: var(--header-border-size) solid constants.$text-color;
            display: flex;
            padding: var(--header-y-padding) var(--header-x-padding);
            justify-content: space-between;
        }

        .moves {
            display: grid;
            gap: var(--moves-inner-spacing);
            grid-template-columns: repeat(var(--moves-cols), 1fr);
            grid-template-rows: repeat(var(--moves-rows), 1fr);
            padding: var(--moves-inner-spacing);
        }
    }

    .info {
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        gap: var(--info-inner-spacing);
        position: absolute;
        right: var(--header-x-padding);
        top: calc(var(--info-offset));

        .level {
            font-size: var(--level-font-size);
            font-weight: bold;
            line-height: var(--level-font-size);
        }

        .missing {
            font-size: var(--info-font-size);
            line-height: var(--info-font-size);
        }
    }

    .minimized {
        max-height: var(--display-size);
    }
}

@media screen and (min-width: constants.$tablet) {
    .pokemon-card {
        --body-estimate: 15rem;
        --display-size: calc(120px + 1rem);
        --header-x-padding: 4rem;
        --info-font-size: 1rem;
        --level-font-size: 1.25rem;
        --moves-cols: 2;
        --moves-rows: 2;
    }
}

@media (hover: hover) {
    .pokemon-card > .card > .toggle:hover {
        color: constants.$hover-color;
    }
}
