@use "@/styles/constants";

.tier-card {
    --border-rad: 2px;
    --card-size: 1.5rem;
    --font-size: 0.8rem;

    align-items: center;
    border-radius: var(--border-rad);
    display: flex;
    font-size: var(--font-size);
    font-weight: bold;
    height: var(--card-size);
    justify-content: center;
    margin: 0 auto;
    width: var(--card-size);
}

@media screen and (min-width: constants.$tablet) {
    .tier-card {
        --card-size: 2rem;
        --font-size: 1.2rem;
    }
}
