@use "@/styles/constants";

.encounter-accordion {
    --accordion-width: 350px;
    --accordion-x-padding: 2rem;
    --accordion-y-padding: 1.5rem;
    --arrow-offset: 1rem;
    --arrow-size: 12px;
    --arrow-transition-time: 0.2s;
    --method-font-size: 1.4rem;
    --name-font-size: 1rem;
    --name-spacing: 4px;
    --sprite-size: 90px;
    --table-border-size: 1px;
    --table-el-x-padding: 1rem;
    --table-el-y-padding: 0.5rem;
    --table-font-size: 1rem;
    --tier-border-rad: 2px;
    --tier-font-size: 0.8rem;
    --tier-x-padding: 0.2rem;
    --tier-y-padding: 0.1rem;
    --tier-size: 1.2rem;
    --type-ratio: 8/3;
    --type-height: 12px;

    width: var(--accordion-width);

    .header {
        align-items: center;
        background: constants.$accent-color;
        display: flex;
        justify-content: space-between;
        padding: var(--accordion-y-padding) var(--accordion-x-padding);
        width: 100%;

        .method {
            font-size: var(--method-font-size);
        }

        .arrow {
            filter: constants.$svg-color;
            height: var(--arrow-size);
            position: relative;
            transition: transform var(--arrow-transition-time);
            width: var(--arrow-size);
        }

        .reversed {
            transform: rotate(180deg);
        }
    }

    .body {
        border-top: var(--table-border-size) solid constants.$text-color;
        padding: none;
        width: 100%;

        .row {
            .table-header,
            .table-element {
                background: constants.$accent-color;
                font-size: var(--table-font-size);
                padding: var(--table-el-y-padding) var(--table-el-x-padding);
                text-align: center;
                width: 20%;

                .sprite {
                    height: var(--sprite-size);
                    position: relative;
                    width: var(--sprite-size);
                }
            }
        }
    }

    .hidden {
        display: none;
    }
}

@media screen and (min-width: constants.$tablet) {
    .encounter-accordion {
        --accordion-width: 750px;
        --name-font-size: 1.2rem;
        --name-spacing: 8px;
        --sprite-size: 100px;
        --table-el-x-padding: 3rem;
        --tier-font-size: 1rem;
        --tier-size: 1.4rem;
        --tier-x-padding: 0.4rem;
        --tier-y-padding: 0.2rem;
    }
}

@media (hover: hover) {
    .encounter-accordion > .header:hover {
        .arrow {
            filter: constants.$svg-hover-color;
        }
    }
}
