@use "@/styles/constants";

.trainers {
    --bottom-spacing: 10rem;
    --header-font-size: 1.5rem;
    --header-spacing: 2rem;
    --list-inner-spacing: 1rem;

    margin-bottom: var(--bottom-spacing);
    width: 100%;

    .header {
        font-size: var(--header-font-size);
        line-height: var(--header-font-size);
        margin-bottom: var(--header-spacing);
    }

    .list {
        display: flex;
        flex-direction: column;
        gap: var(--list-inner-spacing);
    }
}
