@use "@/styles/constants";

.encounters-accordion {
    --accordion-width: 350px;
    --arrow-offset: 1rem;
    --arrow-size: 12px;
    --header-inner-spacing: 4px;
    --name-font-size: 1rem;
    --name-spacing: 4px;
    --sprite-size: 90px;
    --tier-border-rad: 2px;
    --tier-font-size: 0.8rem;
    --tier-size: 1.2rem;
    --transition-time: 0.2s;
    --type-ratio: 8/3;
    --type-height: 12px;

    width: var(--accordion-width);

    .header {
        align-items: center;
        display: flex;
        position: relative;
        width: 100%;

        .sprite {
            height: var(--sprite-size);
            position: relative;
            width: var(--sprite-size);
        }

        .info {
            display: flex;
            flex-direction: column;
            gap: var(--header-inner-spacing);

            .row {
                align-items: center;
                display: flex;
                gap: var(--header-inner-spacing);

                .name {
                    font-size: var(--name-font-size);
                }

                .tier {
                    align-items: center;
                    border-radius: var(--tier-border-rad);
                    display: flex;
                    font-family: constants.$tier-font;
                    font-size: var(--tier-font-size);
                    font-weight: bold;
                    height: var(--tier-size);
                    justify-content: center;
                    line-height: var(--tier-font-size);
                    padding: var(--tier-padding);
                    width: var(--tier-size);
                }

                .type {
                    height: var(--type-height);
                    position: relative;
                    width: calc(var(--type-height) * var(--type-ratio));
                }
            }

            .top-row {
                gap: var(--name-spacing);
            }
        }

        .arrow {
            filter: constants.$svg-color;
            height: var(--arrow-size);
            position: absolute;
            transition: transform var(--transition-time);
            right: var(--arrow-offset);
            width: var(--arrow-size);
        }

        .reversed {
            transform: rotate(180deg);
        }
    }
}

@media screen and (min-width: constants.$tablet) {
    .encounters-accordion {
        --accordion-width: 500px;
        --name-font-size: 1.2rem;
        --name-spacing: 8px;
        --tier-font-size: 1rem;
        --tier-size: 1.4rem;
    }
}

@media screen and (min-width: constants.$desktop) {
    .encounters-accordion {
        --accordion-width: 750px;
        --sprite-size: 100px;
    }
}
