@use "@/styles/constants";

.run-navbar {
    --arrow-size: 1.5rem;
    --logo-ratio: 1.5;
    --logo-size: 60px;

    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;

    .game {
        align-items: center;
        display: flex;
        gap: var(--inner-spacing);

        .back-arrow {
            font-size: var(--arrow-size);
        }

        .logo {
            height: var(--logo-size);
            position: relative;
            width: calc(var(--logo-size) * var(--logo-ratio));
        }
    }
}

@media screen and (min-width: constants.$tablet) {
    .run-navbar {
        --logo-size: 80px;
    }
}

@media (hover: hover) {
    .run-navbar > .game:hover > .back-arrow {
        color: constants.$hover-color;
    }
}
