@use "@/styles/constants";

.game {
    --arrow-size: 1.5rem;
    --logo-size: 80px;

    align-items: center;
    display: flex;
    gap: var(--inner-spacing);

    .back-arrow {
        font-size: var(--arrow-size);
    }

    .logo {
        height: var(--logo-size);
        position: relative;
        width: calc(var(--logo-size) * 1.5);
    }
}

.links {
    --font-size: 1rem;
    --icon-size: 32px;

    display: flex;
    gap: var(--link-spacing);

    .link {
        align-items: center;
        display: flex;

        .link-icon {
            filter: constants.$svg-color;
            height: var(--icon-size);
            margin-right: var(--inner-spacing);
            position: relative;
            width: var(--icon-size);
        }

        .link-text {
            font-size: var(--font-size);
        }
    }
}

@media screen and (min-width: constants.$tablet) {
    .links {
        --font-size: 1.2rem;
        --icon-size: 40px;
    }
}

@media (hover: hover) {
    .game:hover > .back-arrow {
        color: constants.$hover-color;
    }

    .links .link:hover {
        .link-icon {
            filter: constants.$svg-hover-color;
        }

        .link-text {
            color: constants.$hover-color;
        }
    }
}
