@use "@/styles/constants";

.navbar-container {
    --inner-spacing: 0.5rem;
    --link-spacing: 3rem;

    background-color: constants.$bg-color;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    height: constants.$mobile-navbar-height;
    position: relative;
    width: 100%;

    .navbar {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
        margin: 0 auto;
        max-width: constants.$max-width;
        padding: 0 constants.$page-padding;
        width: 100%;
    }
}

@media screen and (min-width: constants.$tablet) {
    .navbar-container {
        height: constants.$navbar-height;

        .navbar {
            flex-direction: row;
            justify-content: space-between;
        }
    }
}
