@use "@/styles/constants";

.about-pagination {
    display: none;
}

@media screen and (min-width: constants.$desktop) {
    .about-pagination {
        --font-size: 1.5rem;
        --inner-spacing: 1rem;
        --num-size: 1rem;
        --transition-time: 0.2s;
        --underline-size: 2px;
        --underline-spacing: 0.5rem;

        display: flex;
        flex-direction: column;
        gap: var(--inner-spacing);

        .entry {
            padding-bottom: var(--underline-spacing);

            .button {
                display: flex;
                gap: var(--inner-spacing);
                font-size: var(--font-size);
                font-weight: bold;

                .num {
                    position: relative;
                    width: var(--num-size);

                    .underline {
                        background: constants.$hover-color;
                        bottom: 0;
                        height: var(--underline-size);
                        left: 0;
                        position: absolute;
                        transition: width var(--transition-time);
                        width: 0;
                    }
                }
            }

            .active {
                color: constants.$hover-color;

                .num > .underline {
                    width: 0 !important;
                }
            }
        }
    }
}

@media (hover: hover) {
    .about-pagination > .entry > .button:hover {
        .num > .underline {
            width: 100%;
        }
    }
}
