@use "@/styles/constants";

.footer-container {
    --footer-padding: 2rem;
    --icon-size: 32px;
    --icon-transition-time: 0.2s;
    --info-inner-spacing: 0.5rem;
    --info-spacing: 2rem;
    --links-inner-spacing: 1.5rem;
    --text-size: 0.8rem;

    background: constants.$accent-color;
    padding: var(--footer-padding);
    position: relative;
    width: 100%;

    .footer {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0 auto;
        max-width: constants.$max-width;
        padding: 0 constants.$page-padding;
        width: 100%;

        .info {
            display: flex;
            flex-direction: column;
            gap: var(--info-inner-spacing);
            margin-bottom: var(--info-spacing);
            text-align: center;

            .text {
                font-size: var(--text-size);

                .link {
                    text-decoration: underline;
                }
            }
        }

        .links {
            align-items: center;
            display: flex;
            gap: var(--links-inner-spacing);

            .icon {
                display: block;
                filter: constants.$svg-color;
                height: var(--icon-size);
                position: relative;
                transition: transform var(--icon-transition-time);
                width: var(--icon-size);
            }
        }
    }
}

@media screen and (min-width: constants.$tablet) {
    .footer-container {
        --info-spacing: 0;
        --links-inner-spacing: 2.5rem;
        --text-size: 1rem;

        .footer {
            flex-direction: row;

            .info {
                text-align: left;
            }
        }
    }
}

@media (hover: hover) {
    .footer-container > .footer {
        .info > .text > .link:hover {
            color: constants.$hover-color;
        }

        .links .icon:hover {
            filter: constants.$svg-hover-color;
            transform: rotate(10deg);
        }
    }
}
