@use "@/styles/constants";

.footer-container {
    --footer-padding: 2rem;
    --icon-size: 32px;
    --text-size: 0.8rem;

    background: constants.$accent-color;
    padding: var(--footer-padding);
    position: relative;
    width: 100%;

    .footer {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0 auto;
        max-width: constants.$max-width;
        padding: 0 constants.$page-padding;
        width: 100%;

        .text-content {
            margin-bottom: 2rem;
            text-align: center;

            .text {
                font-size: var(--text-size);
                margin-bottom: 0.5rem;

                &:last-child {
                    margin-bottom: 0;
                }

                .link {
                    text-decoration: underline;
                }
            }
        }

        .links {
            align-items: center;
            display: flex;
            gap: 1.5rem;

            .icon {
                display: block;
                filter: constants.$svg-color;
                height: var(--icon-size);
                position: relative;
                transition: transform 0.2s;
                user-select: none; /* Standard syntax */
                -webkit-user-select: none; /* Safari */
                width: var(--icon-size);
            }
        }
    }
}

@media screen and (min-width: constants.$tablet) {
    .footer-container {
        --text-size: 1rem;

        .footer {
            flex-direction: row;

            .text-content {
                margin-bottom: 0;
                text-align: left;
            }

            .links {
                gap: 2.5rem;
            }
        }
    }
}

@media (hover: hover) {
    .footer-container > .footer {
        .text-content > .text > .link:hover {
            color: constants.$hover-color;
        }

        .links .icon:hover {
            filter: constants.$svg-hover-color;
            transform: rotate(10deg);
        }
    }
}
