@use "@/styles/constants";

.form-change-modal {
    --buttons-inner-spacing: 1.5rem;
    --forms-inner-spacing: 1rem;
    --forms-num-cols: 3;
    --forms-spacing: 2rem;
    --header-font-size: 1.25rem;
    --modal-width: 325px;
    --sprite-border-rad: 10px;
    --sprite-size: 90px;

    width: var(--modal-width);

    .header {
        font-size: var(--header-font-size);
        line-height: var(--header-font-size);
        text-align: center;
    }

    .forms {
        display: grid;
        gap: var(--forms-inner-spacing);
        grid-template-columns: repeat(var(--forms-num-cols), 1fr);
        margin: var(--forms-spacing) 0;

        .form {
            border-radius: var(--sprite-border-rad);
            height: var(--sprite-size);
            margin: 0 auto;
            position: relative;
            width: var(--sprite-size);
        }

        .active {
            background: constants.$hover-color;
        }
    }

    .buttons {
        display: flex;
        gap: var(--buttons-inner-spacing);
        justify-content: center;
    }
}

@media screen and (min-width: constants.$tablet) {
    .form-change-modal {
        --header-font-size: 1.5rem;
        --modal-width: 500px;
        --sprite-size: 120px;
    }
}
