@use "@/styles/constants";

.run-entry {
    --button-size: 24px;
    --button-spacing: 2rem;
    --button-z: 0;
    --entry-padding: 0;
    --icon-size: 16px;
    --indicator-size: 5px;
    --inner-spacing: 0.3rem;
    --name-font-size: 1.5rem;
    --nav-padding: 2rem;
    --transition-time: 0.3s;

    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 var(--entry-padding);
    width: 100%;

    .nav {
        border-left: var(--indicator-size) solid constants.$bg-color;
        display: flex;
        flex-direction: column;
        gap: var(--inner-spacing);
        padding: var(--nav-padding);
        text-align: left;
        width: calc(100% - (2 * var(--button-size) + var(--button-spacing)));

        .name {
            font-size: var(--name-font-size);
            line-height: var(--name-font-size);
        }

        .rips {
            align-items: center;
            display: flex;
            gap: var(--inner-spacing);

            .icon {
                filter: constants.$svg-color;
                height: var(--icon-size);
                position: relative;
                width: var(--icon-size);
            }
        }
    }

    .buttons {
        display: flex;
        gap: var(--button-spacing);

        .button {
            filter: constants.$svg-color;
            height: var(--button-size);
            position: relative;
            transition: transform var(--transition-time);
            width: var(--button-size);
            z-index: var(--button-z);
        }
    }
}

@media screen and (min-width: constants.$tablet) {
    .run-entry {
        --entry-padding: 2rem;
        --button-size: 32px;
    }
}

@media screen and (min-width: constants.$desktop) {
    .run-entry {
        --entry-padding: 4rem;
    }
}

@media (hover: hover) {
    .run-entry {
        .nav:hover {
            border-color: constants.$hover-color;
        }

        .buttons > .button:hover {
            filter: constants.$svg-hover-color;
            transform: scale(1.2) rotate(5deg);
        }
    }
}
