@use "@/styles/constants";

.summary-page {
    --page-inner-spacing: 1rem;
    --page-spacing: 2rem;
    --page-width: 350px;

    display: flex;
    flex-direction: column;
    gap: var(--page-inner-spacing);
    margin: var(--page-spacing) 0;
    min-height: calc(100vh - constants.$navbar-height - 2 * var(--page-spacing));
    width: var(--page-width);
}

@media screen and (min-width: constants.$tablet) {
    .summary-page {
        --page-spacing: 4rem;
        --page-width: 750px;
    }
}
