@use "@/styles/constants";

.bugs-page {
    --bug-inner-spacing: 0.25rem;
    --button-border-size: 2px;
    --button-border-rad: 5px;
    --button-font-size: 1rem;
    --button-letter-spacing: 1px;
    --button-padding: 1rem;
    --header-font-size: 2rem;
    --list-offset: 1.5rem;
    --page-inner-spacing: 2rem;
    --page-width: 350px;
    --page-y-padding: 2rem;
    --priority-font-size: 1.5rem;
    --priority-icon-size: 1.5rem;
    --priority-inner-spacing: 0.5rem;
    --priority-spacing: 0.5rem;

    align-items: center;
    display: flex;
    flex-direction: column;
    gap: var(--page-inner-spacing);
    max-width: var(--page-max-width);
    min-height: calc(100vh - constants.$navbar-height - 2 * var(--page-y-padding));
    width: var(--page-width);

    .header {
        font-size: var(--header-font-size);
        font-weight: bold;
        margin-bottom: var(--inner-spacing);
        text-align: center;
    }

    .button {
        background-color: constants.$text-color;
        border-radius: var(--button-border-rad);
        color: constants.$bg-color;
        font-size: var(--button-font-size);
        font-weight: bold;
        line-height: var(--button-font-size);
        padding: var(--button-padding);
    }

    .section {
        max-width: var(--section-max-width);
        width: 100%;

        .priority {
            align-items: center;
            display: flex;
            font-size: var(--priority-font-size);
            font-weight: bold;
            gap: var(--priority-inner-spacing);
            justify-content: center;
            margin-bottom: var(--priority-spacing);

            .icon {
                height: var(--priority-icon-size);
                position: relative;
                user-select: none; /* Standard syntax */
                -webkit-user-select: none; /* Safari */
                width: var(--priority-icon-size);
            }
        }

        .list {
            list-style: disc;
            margin-left: var(--list-offset);
            width: 100%;

            .bug {
                .group {
                    font-weight: bold;
                    margin-right: var(--bug-inner-spacing);
                }

                .link {
                    color: constants.$hover-color;
                    text-decoration: underline;
                }
            }
        }
    }
}

@media screen and (min-width: constants.$tablet) {
    .bugs-page {
        --button-font-size: 1.25rem;
        --button-icon-size: 16px;
        --button-padding: 1.25rem;
        --header-font-size: 2.5rem;
        --page-width: 750px;
        --page-y-padding: 4rem;

        .section > .priority {
            justify-content: flex-start;
        }
    }
}

@media (hover: hover) {
    .bugs-page > .button:hover {
        background-color: constants.$hover-color;
        color: constants.$text-color;
    }
}
