@use "@/styles/constants";

.time-controls {
    --bottom-spacing: 1.5rem;
    --icon-size: 24px;
    --times-inner-spacing: 0.5rem;

    display: flex;
    gap: var(--times-inner-spacing);
    justify-content: center;
    margin-bottom: var(--bottom-spacing);
    width: 100%;

    .time {
        filter: constants.$svg-disabled-color;
        height: var(--icon-size);
        position: relative;
        width: var(--icon-size);
    }

    .active {
        filter: constants.$svg-color;
        pointer-events: none;
    }
}

.inline {
    display: none;
    margin-bottom: 0;
}

@media screen and (min-width: constants.$tablet) {
    .time-controls {
        display: none;
    }

    .inline {
        display: flex;
    }
}

@media (hover: hover) {
    .time-controls > .time:hover {
        filter: constants.$svg-hover-color;
    }
}
