@use "@/styles/constants";

.battle-preview {
    --buttons-inner-spacing: 1rem;
    --defeat-border-radius: 5px;
    --defeat-font-size: 0.9rem;
    --defeat-x-padding: 1rem;
    --defeat-y-padding: 0.5rem;
    --name-font-size: 1.25rem;
    --preview-inner-spacing: 0.5rem;
    --sprite-size: 100px;
    --sprite-transition-time: 0.5s;
    --undo-button-size: 1rem;

    align-items: center;
    display: flex;
    justify-content: space-between;

    .trainer {
        align-items: center;
        display: flex;
        justify-content: center;

        .sprite {
            height: var(--sprite-size);
            position: relative;
            transition: filter var(--sprite-transition-time);
            width: var(--sprite-size);
        }

        .defeated {
            filter: grayscale(100%);
        }

        .preview {
            .info {
                align-items: center;
                display: flex;
                gap: var(--preview-inner-spacing);
                margin-bottom: var(--preview-inner-spacing);

                .name {
                    font-size: var(--name-font-size);
                    line-height: var(--name-font-size);
                }

                .items {
                    display: flex;
                }
            }

            .buttons {
                align-items: center;
                display: flex;
                gap: var(--buttons-inner-spacing);

                .defeat {
                    background-color: constants.$text-color;
                    border-radius: var(--defeat-border-radius);
                    color: constants.$bg-color;
                    font-size: var(--defeat-font-size);
                    font-weight: bold;
                    padding: var(--defeat-y-padding) var(--defeat-x-padding);
                }

                .undo {
                    filter: constants.$svg-color;
                    height: var(--undo-button-size);
                    position: relative;
                    width: var(--undo-button-size);
                }
            }
        }
    }
}

@media screen and (min-width: constants.$tablet) {
    .battle-preview {
        --defeat-font-size: 1rem;
        --defeat-x-padding: 1.25rem;
        --name-font-size: 1.5rem;
        --sprite-size: 120px;
    }
}

@media (hover: hover) {
    .battle-preview > .trainer > .preview > .buttons {
        .defeat:hover {
            background-color: constants.$hover-color;
            color: constants.$text-color;
        }

        .undo:hover {
            filter: constants.$svg-hover-color;
        }
    }
}
