@use "@/styles/constants";

.battle-preview {
    --buttons-inner-spacing: 1rem;
    --count-font-size: 0.75rem;
    --count-letter-spacing: 3px;
    --name-font-size: 1rem;
    --location-font-size: 1rem;
    --icon-size: 12px;
    --info-inner-spacing: 0.5rem;
    --item-size: 20px;
    --preview-inner-spacing: 0.5rem;
    --sprite-size: 0;
    --sprite-transition-time: 0.5s;
    --undo-button-size: 1rem;

    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;

    .trainer {
        align-items: center;
        display: flex;
        justify-content: center;

        .sprite {
            height: var(--sprite-size);
            position: relative;
            transition: filter var(--sprite-transition-time);
            width: var(--sprite-size);
        }

        .defeated {
            filter: grayscale(100%);
        }

        .preview {
            display: flex;
            flex-direction: column;
            gap: var(--preview-inner-spacing);

            .info {
                align-items: center;
                display: flex;
                gap: var(--info-inner-spacing);

                .name {
                    font-size: var(--name-font-size);
                    line-height: var(--name-font-size);
                }

                .icon {
                    filter: constants.$svg-color;
                    height: var(--icon-size);
                    position: relative;
                    width: var(--icon-size);
                }

                .items {
                    align-items: center;
                    display: flex;

                    .item {
                        height: var(--item-size);
                        position: relative;
                        width: var(--item-size);
                    }

                    .count {
                        font-size: var(--count-font-size);
                        letter-spacing: var(--count-letter-spacing);
                        line-height: var(--count-font-size);
                    }
                }
            }

            .location {
                font-size: var(--location-font-size);
                line-height: var(--location-font-size);
            }

            .buttons {
                align-items: center;
                display: flex;
                gap: var(--buttons-inner-spacing);

                .undo {
                    filter: constants.$svg-color;
                    height: var(--undo-button-size);
                    position: relative;
                    width: var(--undo-button-size);
                }
            }
        }
    }
}

@media screen and (min-width: constants.$tablet) {
    .battle-preview {
        --count-font-size: 1rem;
        --icon-size: 16px;
        --item-size: 24px;
        --location-font-size: 1.25rem;
        --name-font-size: 1.5rem;
        --preview-inner-spacing: 0.75rem;
        --sprite-size: 120px;
    }
}

@media (hover: hover) {
    .battle-preview > .trainer > .preview > .buttons > .undo:hover {
        filter: constants.$svg-hover-color;
    }
}
