@use "@/styles/constants";

.modal {
    --content-border-rad: 15px;
    --content-padding: 2rem;
    --overlay-opacity: 0.9;
    --overlay-z: 999;
    --transition-time: 0.1s;

    align-items: center;
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    transition: opacity var(--transition-time);

    .modal-overlay {
        background: black;
        height: 100%;
        position: absolute;
        opacity: var(--overlay-opacity);
        width: 100%;
        z-index: var(--overlay-z);
    }

    .modal-content {
        background: constants.$accent-color;
        border-radius: var(--content-border-rad);
        max-width: constants.$max-width;
        padding: var(--content-padding);
        z-index: calc(var(--overlay-z) + 1);
    }
}

.open {
    opacity: 1;
    pointer-events: all;
}

.closed {
    opacity: 0;
    pointer-events: none;
}
