@use "@/styles/constants";

.pokedex-page {
    --header-inner-spacing: 1rem;
    --page-inner-spacing: 1rem;
    --page-width: 350px;
    --page-y-spacing: 2rem;

    align-items: center;
    display: flex;
    flex-direction: column;
    gap: var(--page-inner-spacing);
    min-height: calc(100vh - constants.$navbar-height - 2 * var(--page-y-spacing));
    width: var(--page-width);

    .header {
        align-items: center;
        display: flex;
        gap: var(--header-inner-spacing);
    }
}

@media screen and (min-width: constants.$tablet) {
    .pokedex-page {
        --page-width: 750px;
        --page-y-spacing: 2rem;
    }
}
