@use "@/styles/constants";

.location-overview {
    --border-rad: 5px;
    --border-size: 2px;
    --encounter-height: calc(var(--title-font-size) + var(--sprite-size) + var(--encounter-inner-spacing));
    --encounter-inner-spacing: 1rem;
    --location-font-size: 1rem;
    --location-letter-spacing: 0;
    --sprite-size: 75px;
    --text-font-size: 1.25rem;
    --text-letter-spacing: 1px;
    --title-font-size: 1rem;
    --x-padding: 2rem;
    --y-padding: 1rem;

    align-items: center;
    background-color: constants.$accent-color;
    border: var(--border-size) solid constants.$accent-color;
    border-radius: var(--border-rad);
    display: flex;
    justify-content: space-between;
    padding: var(--y-padding) var(--x-padding);
    width: 100%;

    .location {
        font-size: var(--location-font-size);
        font-weight: bold;
        letter-spacing: var(--location-letter-spacing);
        line-height: var(--location-font-size);
    }

    .done {
        text-decoration: line-through;
    }

    .encounter {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: var(--encounter-inner-spacing);
        height: var(--encounter-height);
        justify-content: center;

        .title {
            font-size: var(--title-font-size);
            line-height: var(--title-font-size);
        }

        .sprite {
            align-items: center;
            display: flex;
            height: var(--sprite-size);
            justify-content: center;
            position: relative;
            width: var(--sprite-size);
        }

        .text {
            font-size: var(--text-font-size);
            font-weight: bold;
            letter-spacing: var(--text-letter-spacing);
            line-height: var(--text-font-size);
        }

        .failed {
            color: constants.$error-color;
        }
    }
}

@media screen and (min-width: constants.$tablet) {
    .location-overview {
        --location-font-size: 1.25rem;
        --location-letter-spacing: 1px;
        --text-font-size: 1.5rem;
        --text-letter-spacing: 2px;
    }
}

@media (hover: hover) {
    .location-overview:hover {
        border-color: constants.$hover-color;
    }
}
