@use "@/styles/constants";

.location-overview {
    --border-rad: 5px;
    --border-size: 2px;
    --card-height: 140px;
    --encounter-inner-spacing: 1rem;
    --location-font-size: 1rem;
    --location-letter-spacing: 0;
    --sprite-size: 75px;
    --status-font-size: 1rem;
    --status-letter-spacing: 1px;
    --text-font-size: 1rem;
    --title-font-size: 0.75rem;
    --x-padding: 2rem;

    align-items: center;
    background-color: constants.$accent-color;
    border: var(--border-size) solid constants.$accent-color;
    border-radius: var(--border-rad);
    display: flex;
    height: var(--card-height);
    justify-content: space-between;
    padding: 0 var(--x-padding);
    width: 100%;

    .location {
        font-size: var(--location-font-size);
        font-weight: bold;
        letter-spacing: var(--location-letter-spacing);
        line-height: var(--location-font-size);
    }

    .encounter {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: var(--encounter-inner-spacing);
        justify-content: center;

        .title {
            font-size: var(--title-font-size);
            line-height: var(--title-font-size);
        }

        .sprite {
            align-items: center;
            display: flex;
            height: var(--sprite-size);
            justify-content: center;
            position: relative;
            width: var(--sprite-size);
        }

        .status {
            font-size: var(--status-font-size);
            font-weight: bold;
            letter-spacing: var(--status-letter-spacing);
            line-height: var(--status-font-size);
        }

        .none {
            color: constants.$disabled-color;
        }
    }
}

@media screen and (min-width: constants.$tablet) {
    .location-overview {
        --location-font-size: 1.25rem;
        --location-letter-spacing: 1px;
        --status-font-size: 1.25rem;
        --status-letter-spacing: 1px;
        --title-font-size: 1rem;
    }
}

@media (hover: hover) {
    .location-overview:hover {
        border-color: constants.$hover-color;
    }
}
