@use "@/styles/constants";

.battle-page {
    --team-inner-spacing: 1rem;
    --team-spacing: 2rem;

    .team {
        display: flex;
        flex-direction: column;
        gap: var(--team-inner-spacing);
        margin-top: var(--team-spacing);
        width: 100%;
    }
}
