@use "@/styles/constants";

.battle-page {
    --loading-spacing: 4rem;
    --page-inner-spacing: 2rem;
    --team-inner-spacing: 1rem;

    align-items: center;
    display: flex;
    flex-direction: column;
    gap: var(--page-inner-spacing);

    .team {
        display: flex;
        flex-direction: column;
        gap: var(--team-inner-spacing);
        width: 100%;
    }

    .loading {
        margin-top: var(--loading-spacing);
    }
}
