@use "@/styles/constants";

.summary-header {
    --info-font-size: 1rem;
    --info-inner-spacing: 0.75rem;
    --sprite-size: 125px;

    align-items: center;
    display: flex;
    justify-content: center;

    .sprite {
        height: var(--sprite-size);
        position: relative;
        width: var(--sprite-size);
    }

    .info {
        display: flex;
        flex-direction: column;
        gap: var(--info-inner-spacing);

        .name {
            align-items: center;
            display: flex;

            .nickname {
                background-color: constants.$bg-color;
                font-size: var(--info-font-size);
                font-weight: bold;
                line-height: var(--info-font-size);
            }

            .hidden {
                display: inline-block;
                font-size: var(--info-font-size);
                font-weight: bold;
                left: -9999px;
                position: absolute;
            }

            input::placeholder {
                color: constants.$text-color;
            }
        }

        .text {
            font-size: var(--info-font-size);
            line-height: var(--info-font-size);
        }
    }
}

@media screen and (min-width: constants.$tablet) {
    .summary-header {
        --info-font-size: 1.5rem;
        --sprite-size: 150px;
    }
}
