@use "@/styles/constants";

.rip-modal {
    --buttons-inner-spacing: 1.5rem;
    --header-font-size: 1.25rem;
    --modal-width: 325px;
    --sprite-border-rad: 10px;
    --sprite-size: 100px;
    --sprite-spacing: 2rem;

    width: var(--modal-width);

    .header {
        font-size: var(--header-font-size);
        line-height: var(--header-font-size);
        text-align: center;
    }

    .sprite {
        height: var(--sprite-size);
        margin: var(--sprite-spacing) auto;
        position: relative;
        width: var(--sprite-size);
    }

    .buttons {
        display: flex;
        gap: var(--buttons-inner-spacing);
        justify-content: center;
    }
}

@media screen and (min-width: constants.$tablet) {
    .rip-modal {
        --header-font-size: 1.5rem;
        --modal-width: 500px;
        --sprite-size: 120px;
    }
}
