@use "@/styles/constants";

.run-entry {
    --button-size: 24px;
    --button-spacing: 2rem;
    --button-z: 0;
    --entry-padding: 0;
    --icon-size: 16px;
    --indicator-size: 5px;
    --info-inner-spacing: 0.5rem;
    --logo-size: 70px;
    --name-font-size: 1.25rem;
    --nav-inner-spacing: 2rem;
    --nav-padding: 2rem;
    --rip-spacing: 0.3rem;
    --transition-time: 0.3s;

    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 var(--entry-padding);
    width: 100%;

    .nav {
        align-items: center;
        border-left: var(--indicator-size) solid constants.$bg-color;
        display: flex;
        gap: var(--nav-inner-spacing);
        padding: var(--nav-padding);
        width: calc(100% - (2 * var(--button-size) + var(--button-spacing)));

        .logo {
            display: none;
            height: var(--logo-size);
            position: relative;
            width: calc(var(--logo-size) * 1.5);
        }

        .info {
            display: flex;
            flex-direction: column;
            gap: var(--info-inner-spacing);
            text-align: left;
            white-space: nowrap;
            width: 100%;

            .name {
                font-size: var(--name-font-size);
                overflow-x: hidden;
                text-overflow: ellipsis;
            }

            .rips {
                align-items: center;
                display: flex;
                gap: var(--rip-spacing);

                .icon {
                    filter: constants.$svg-color;
                    height: var(--icon-size);
                    position: relative;
                    width: var(--icon-size);
                }
            }
        }
    }

    .buttons {
        display: flex;
        gap: var(--button-spacing);

        .button {
            filter: constants.$svg-color;
            height: var(--button-size);
            position: relative;
            transition: transform var(--transition-time);
            width: var(--button-size);
            z-index: var(--button-z);
        }
    }
}

@media screen and (min-width: constants.$tablet) {
    .run-entry {
        --entry-padding: 2rem;
        --button-size: 32px;
        --name-font-size: 1.5rem;

        .nav {
            .logo {
                display: block;
            }

            .info > .name > .game {
                display: none;
            }
        }
    }
}

@media screen and (min-width: constants.$desktop) {
    .run-entry {
        --entry-padding: 4rem;
    }
}

@media (hover: hover) {
    .run-entry {
        .nav:hover {
            border-color: constants.$hover-color;
        }

        .buttons > .button:hover {
            filter: constants.$svg-hover-color;
            transform: scale(1.2) rotate(5deg);
        }
    }
}
