@use "@/styles/constants";

.about-page {
    padding: 2rem 0;

    .section-container {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .section {
            width: 100%;

            .header {
                font-weight: bold;
                margin-bottom: 0.5rem;
                text-decoration: underline;
            }

            .content {
                font-size: 1.2rem;
                line-height: 2rem;

                .link {
                    color: constants.$hover-color;
                }
            }

            .list {
                list-style: disc;
                margin-left: 2rem;
                margin-top: 0.5rem;

                .bullet-point {
                    font-size: 1.2rem;
                    line-height: 2rem;
                }
            }
        }
    }
}

@media screen and (min-width: constants.$desktop) {
    .about-page {
        --hidden-offset: 5rem;
        --section-width: 600px;

        align-items: center;
        display: flex;
        flex-direction: row;
        gap: 4rem;

        .section-container {
            position: relative;
            width: var(--section-width);

            .section {
                position: absolute;
                transform: translateY(-50%);
                transition: transform 0.3s, opacity 0.15s;

                .header {
                    display: none;
                }
            }

            .show {
                opacity: 1;
            }

            .hidden {
                opacity: 0;
                pointer-events: none;
            }

            .top {
                transform: translateY(-55%);
            }

            .bottom {
                transform: translateY(-45%);
            }
        }
    }
}
