@use "@/styles/constants";

.about-page {
    align-items: center;
    display: flex;
    gap: 4rem;
    justify-content: center;

    .section {
        max-width: 600px;
        width: 60%;

        .content {
            font-size: 1.2rem;
            line-height: 2rem;

            .link {
                color: constants.$hover-color;
            }
        }

        .list {
            list-style: disc;
            margin-left: 2rem;
            margin-top: 0.5rem;

            .bullet-point {
                font-size: 1.2rem;
                line-height: 2rem;
            }
        }
    }

    .hidden {
        display: none;
    }
}
