@use "@/styles/constants";

.create-modal {
    --desc-font-size: 0.75rem;
    --field-x-padding: 1rem;
    --form-inner-spacing: 1.5rem;
    --game-max-width: 120px;
    --game-ratio: 2;
    --games-max-height: 300px;
    --games-num-columns: 3;
    --games-x-inner-spacing: 1rem;
    --games-y-inner-spacing: 2rem;
    --games-y-padding: 1rem;
    --header-font-size: 1.25rem;
    --input-font-size: 1rem;
    --input-y-padding: 0.5rem;
    --label-font-size: 0.75rem;
    --main-spacing: 0.5rem;
    --main-inner-spacing: 0.5rem;
    --modal-width: 325px;
    --toggle-x-padding: 1rem;

    display: flex;
    flex-direction: column;
    gap: var(--form-inner-spacing);
    width: var(--modal-width);

    .header {
        font-size: var(--header-font-size);
        font-weight: bold;
        text-align: center;
    }

    .form {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: var(--form-inner-spacing);
        width: 100%;

        .input {
            background-color: constants.$bg-color;
            font-size: var(--input-font-size);
            line-height: var(--input-font-size);
            padding: var(--input-y-padding) var(--field-x-padding);
            width: 100%;
        }

        .games {
            background-color: constants.$bg-color;
            display: grid;
            gap: var(--games-y-inner-spacing) var(--games-x-inner-spacing);
            grid-template-columns: repeat(var(--games-num-columns), 1fr);
            max-height: var(--games-max-height);
            overflow-x: hidden;
            overflow-y: auto;
            padding: var(--games-y-padding) var(--field-x-padding);
            width: 100%;

            .game {
                filter: grayscale(100%);
                height: calc(
                    (var(--modal-width) - 2 * var(--games-x-inner-spacing) - 2 * var(--field-x-padding)) /
                        (3 * var(--game-ratio))
                );
                margin: 0 auto;
                max-width: var(--game-max-width);
                position: relative;
                width: calc((var(--modal-width) - 2 * var(--games-x-inner-spacing) - 2 * var(--field-x-padding)) / 3);
            }

            .active {
                filter: none;
                pointer-events: none;
            }
        }

        .settings {
            display: flex;
            justify-content: space-between;
            width: 100%;

            .toggle {
                width: 45%;

                .main {
                    align-items: center;
                    display: flex;
                    gap: var(--main-inner-spacing);
                    margin-bottom: var(--main-spacing);

                    .label {
                        font-weight: bold;
                        font-size: var(--label-font-size);
                        line-height: var(--label-font-size);
                    }
                }

                .desc {
                    color: constants.$disabled-color;
                    font-size: var(--desc-font-size);
                }
            }
        }
    }
}

@media screen and (min-width: constants.$tablet) {
    .create-modal {
        --header-font-size: 1.5rem;
        --label-font-size: 1rem;
        --main-inner-spacing: 1rem;
        --modal-width: 400px;
    }
}

@media (hover: hover) {
    .create-modal > .form {
        .games > .game:hover {
            filter: none;
        }

        .settings > .toggle > .desc:hover {
            color: constants.$text-color;
            cursor: default;
        }
    }
}
